.Kids {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background-color: white;
}
.Kids > div {
    border: 2px solid rgb(74, 111, 190);
    border-radius: 11px;
    box-shadow: 17px 17px 17px rgba(0, 0, 0, .5);
    width: 100%;
    height: 100px;
    max-width: 200px;
    padding: 0 20px;
}
.Kids h1 {
    color: #000; 
    text-align: center;
}